In [1]:
import pandas as pd
import numpy as np

In [24]:
# read dipak's file
dtype = {
 'school_code' : int,
 'school_name' : str,
 'city' : str,
 'pincode' : str,
 'state' : str,
 'country' : str,
 'season' : str,
 'year' : np.uint32,
 'class': np.uint8,
 'studentCount': int,
 'subject' : str,
 'papercode': str,
 'skill_name' : str,
 'sub_skill_name' : str,
 'subSkillLevelAccuracy': float,
 'subSkillLevelQuestionCount' : np.uint32,
 'skillLevelAccuracy' : float,
 'skillLevelQuestionCount' : np.uint32,
 'totalAccuracy' : float,
 'totalQuestionCount': np.uint32,
 'national_studentCount': int,
 'national_subSkillLevelAccuracy' : float,
 'national_skillLevelAccuracy' : float,
 'national_totalAccuracy' : float}
file_path = '../../../Desktop/EI/From others/Dipak/Parent Connect/data'
df = pd.read_csv(file_path+'/final_asset_school_accuracy.csv', dtype = dtype)

df['total_correct'] = round(df['totalAccuracy']/100 * df['totalQuestionCount']).astype(int)
df['total_delta'] = df['totalAccuracy'] - df['national_totalAccuracy']

In [9]:
df_school_board = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR_AO8CCe9wrCqYyXAKutE4NceqSuTZuWQdaZoxhLwPOBQYAXOIEZzXL1xsYMWX3uzhi9rtbNWk67PW/pub?gid=288331316&single=true&output=csv')

df = pd.merge(df, df_school_board, on='school_code', how = 'left')

In [11]:
df['total_correct'] = round(df['totalAccuracy']/100 * df['totalQuestionCount']).astype(int)
df['total_delta'] = df['totalAccuracy'] - df['national_totalAccuracy']

df contains the data with the boards

Need to look at the top schools in the data set.

In [12]:
df2 = df.drop_duplicates(['papercode','school_code'])
# g = df2.sort_values('total_delta').set_index(['subject','class'])
# res = g.apply(lambda x: x.total_delta(ascending=False).head(5))

lst = lambda x : list (x)

In [13]:


top = df2.sort_values('total_delta', ascending=False).groupby(['class', 'subject']).head(3)
top.groupby(['subject','class']).agg({'school_code': lst, 'total_delta' : lst, 'papercode': lst})

                                      school_code  \
subject        class
English        3       [1188853, 185694, 2913130]
               4         [556123, 79515, 1522739]
               5      [1656341, 3430987, 2500811]
               6       [2855811, 664477, 1164841]
               7      [2228490, 3183865, 2487416]
               8         [1473110, 35816, 542840]
               9       [416648, 2389077, 1434248]
               10        [416648, 128171, 197351]
               11           [16855, 88874, 26047]
               12         [208595, 359146, 10833]
Hindi          4          [579462, 579462, 42625]
               5         [1826165, 579462, 61544]
               6          [406882, 192660, 35175]
               7         [579462, 2471227, 47185]
               8         [579462, 243639, 218722]
Maths          3       [579462, 3261189, 2523134]
               4        [3299276, 185694, 210738]
               5          [35798, 471981, 651720]
               6        [185477, 173584, 2496782]
               7        [581862, 267686, 3284749]
               8         [956787, 79515, 3328395]
               9         [470827, 493378, 495455]
               10        [197351, 2037085, 61395]
               11         [354113, 239582, 11053]
               12           [208595, 147, 181197]
Science        3          [664477, 59751, 185694]
               4         [792710, 796394, 683732]
               5       [664477, 2492960, 1839566]
               6         [388111, 1651476, 28071]
               7          [2394053, 428436, 9048]
               8          [369087, 4085, 1143238]
               9        [1092491, 495455, 651018]
               10         [2394053, 197351, 6464]
               11            [239582, 26047, 263]
               12            [147, 57640, 208595]
Social Studies 5        [1144653, 3283255, 10833]
               6          [35175, 579462, 383563]
               7       [2855763, 206456, 1188853]
               8        [17549, 2428788, 2515067]
               9           [282495, 35175, 31982]
               10        [617857, 3408035, 31982]

                                                            total_delta  \
subject        class
English        3                      [53.46, 48.78, 47.57000000000001]
               4                                  [47.67, 45.76, 45.76]
               5                                  [45.61, 42.11, 41.08]
               6                                   [45.95, 45.94, 44.9]
               7                     [45.41, 44.61, 44.410000000000004]
               8                                   [47.9, 47.34, 44.17]
               9         [55.05, 54.89000000000001, 46.760000000000005]
               10                    [46.940000000000005, 46.76, 45.51]
               11       [31.92, 26.210000000000008, 23.980000000000004]
               12       [18.550000000000004, 14.000000000000007, 10.43]
Hindi          4                     [48.589999999999996, 46.72, 45.38]
               5          [49.85, 47.85000000000001, 46.10000000000001]
               6                                   [47.06, 45.36, 43.2]
               7                                    [50.6, 46.6, 43.69]
               8                     [46.809999999999995, 46.07, 42.88]
Maths          3                                  [52.22, 48.16, 47.98]
               4                                  [48.25, 48.14, 48.11]
               5                                  [51.94, 48.18, 48.18]
               6                                   [50.97, 49.7, 49.62]
               7                                  [53.58, 50.65, 48.98]
               8                                   [57.0, 55.94, 55.28]
               9                                     [58.6, 57.6, 55.0]
               10                                 [58.48, 56.21, 53.81]
               11                     [39.11, 36.25, 34.85000000000001]
               12       [31.000000000000007, 15.57, 11.150000000000006]
Science        3                     [48.62, 45.769999999999996, 44.77]
               4                                  [51.05, 46.11, 45.34]
               5                      [47.84, 46.43000000000001, 46.41]
               6                                  [43.76, 43.08, 41.18]
               7                     [49.690000000000005, 43.19, 42.08]
               8                     [51.93, 43.36, 42.199999999999996]
               9                                   [46.26, 45.1, 44.51]
               10                                 [46.06, 44.36, 43.08]
               11                    [22.79, 20.32, 19.240000000000002]
               12     [12.699999999999996, 11.369999999999997, 5.809...
Social Studies 5      [37.370000000000005, 37.300000000000004, 36.73...
               6         [44.03, 43.56000000000001, 40.120000000000005]
               7                                   [43.08, 42.42, 41.7]
               8                     [48.01, 39.690000000000005, 38.93]
               9                     [47.75, 43.64, 42.699999999999996]
               10                    [45.81, 43.38, 40.769999999999996]

                            papercode
subject        class
English        3      [13G, 13T, 13T]
               4      [14F, 14J, 14J]
               5      [15F, 15V, 15W]
               6      [16X, 16F, 16U]
               7      [17T, 17Y, 17O]
               8      [18J, 18L, 18W]
               9      [19X, 19#, 19U]
               10     [1AX, 1A#, 1AX]
               11     [1BA, 1BA, 1BA]
               12     [1B9, 1BA, 1BA]
Hindi          4      [54N, 54Z, 54F]
               5      [55T, 55Z, 55X]
               6      [56O, 56K, 56T]
               7      [57Z, 57U, 57J]
               8      [58Z, 58W, 58M]
Maths          3      [23Z, 23T, 23Q]
               4      [24#, 24T, 248]
               5      [258, 25D, 25D]
               6      [26C, 26#, 26Z]
               7      [27W, 27U, 27U]
               8      [28P, 28M, 28#]
               9      [29Y, 29F, 29H]
               10     [29Q, 29H, 29D]
               11     [2BA, 2BA, 2B9]
               12     [2B9, 2B9, 2BA]
Science        3      [33D, 33Z, 33T]
               4      [34F, 34K, 34F]
               5      [35F, 35O, 35F]
               6      [36D, 36G, 36C]
               7      [37S, 37W, 37W]
               8      [38B, 38G, 38F]
               9      [39L, 39H, 39M]
               10     [3AY, 39Q, 3AU]
               11     [3BA, 3BA, 3BA]
               12     [3B9, 3B9, 3B9]
Social Studies 5      [45G, 45V, 45S]
               6      [46T, 46N, 46V]
               7      [47V, 47#, 47G]
               8      [48Q, 48Y, 48T]
               9      [49E, 49Q, 49Y]
               10     [49Y, 49W, 49#]

In [14]:
bottom = df2.sort_values('total_delta', ascending=True).groupby(['class', 'subject']).head(3)
bottom.groupby(['subject','class']).agg({'school_code': lst, 'total_delta' : lst})

                                      school_code  \
subject        class
English        3       [701096, 1125577, 1601346]
               4        [231460, 2490221, 446735]
               5          [28559, 428777, 691687]
               6        [3210065, 102393, 309725]
               7        [1462832, 1217481, 25917]
               8         [196572, 213980, 519575]
               9         [242388, 785837, 374380]
               10        [816893, 192913, 261265]
               11        [364990, 261265, 225114]
               12          [195249, 54686, 26524]
Hindi          4           [194711, 52260, 17549]
               5           [34375, 47185, 540158]
               6         [2393136, 16591, 395880]
               7         [186516, 582332, 236318]
               8         [2349718, 62142, 192913]
Maths          3      [1092491, 1132997, 1036617]
               4         [17769, 1660240, 248217]
               5       [1191086, 3242343, 268254]
               6         [975846, 432674, 343029]
               7        [2567321, 408919, 610982]
               8         [34188, 343029, 3328564]
               9        [1254398, 613941, 419193]
               10        [102844, 2470921, 59146]
               11         [359146, 28071, 364990]
               12          [26524, 57640, 195249]
Science        3        [550817, 2497679, 422377]
               4        [389255, 202374, 1103222]
               5        [2456934, 253010, 269146]
               6       [408919, 1040238, 2634186]
               7        [216130, 1997144, 778885]
               8       [2201679, 2114445, 609082]
               9           [32471, 31444, 994720]
               10     [3347647, 1917619, 2389443]
               11         [23015, 107588, 245521]
               12         [26524, 195249, 364990]
Social Studies 5          [12091, 108546, 253010]
               6        [173161, 3325496, 242053]
               7          [271811, 354113, 10698]
               8         [394666, 370168, 785837]
               9           [5051, 569752, 729758]
               10        [712473, 192913, 977620]

                                                            total_delta
subject        class
English        3                  [-58.63, -50.06, -48.449999999999996]
               4                               [-47.65, -46.95, -45.63]
               5                               [-53.18, -51.14, -48.77]
               6                                [-47.4, -42.19, -39.41]
               7                                [-49.6, -37.93, -34.83]
               8                               [-46.96, -46.71, -45.13]
               9                                [-40.97, -38.96, -37.4]
               10                               [-40.42, -38.99, -38.3]
               11     [-21.65, -18.009999999999998, -16.560000000000...
               12     [-18.14, -2.8800000000000026, -1.4500000000000...
Hindi          4                               [-51.79, -51.09, -48.93]
               5                                [-56.04, -53.16, -51.0]
               6                               [-57.78, -55.08, -51.19]
               7                                [-49.22, -49.22, -46.4]
               8                  [-47.98, -44.980000000000004, -42.49]
Maths          3                                 [-62.33, -52.1, -49.0]
               4                  [-57.120000000000005, -47.92, -47.68]
               5                               [-43.68, -41.96, -40.02]
               6                                [-35.3, -34.86, -34.65]
               7                                [-40.5, -36.14, -36.14]
               8                               [-36.04, -35.13, -34.46]
               9                               [-42.04, -32.36, -30.25]
               10                              [-36.33, -34.42, -33.75]
               11                              [-40.89, -23.75, -20.89]
               12     [-17.58, -3.289999999999999, -1.8699999999999974]
Science        3                               [-61.17, -56.17, -53.76]
               4                               [-55.41, -51.27, -51.27]
               5                               [-55.99, -42.16, -41.71]
               6      [-41.370000000000005, -41.370000000000005, -39...
               7                               [-34.19, -34.19, -33.08]
               8                  [-38.86, -32.19, -31.990000000000002]
               9                                [-43.99, -35.1, -32.02]
               10                 [-41.73, -37.059999999999995, -31.93]
               11                 [-22.21, -19.990000000000002, -15.86]
               12                 [-21.96, -15.68, -13.449999999999996]
Social Studies 5                               [-56.92, -52.24, -46.06]
               6                                [-46.6, -46.13, -43.27]
               7                                [-53.9, -52.19, -52.19]
               8                  [-38.18, -36.699999999999996, -32.92]
               9                               [-32.48, -32.02, -29.72]
               10                              [-36.46, -34.24, -33.69]

# finding schools with atleast 3 years of history and took the latest rounds

In [15]:
recent_rounds = ['Z','#']

In [16]:
df_recent = df[df.papercode.str.contains("Z|#")]

In [17]:
recent_round_schools = list(set(df_recent.school_code))

Contains the list of schools appearing for the most recent rounds

In [18]:
recent_round_schools

[749568,
 3461123,
 2500618,
 2164757,
 3592220,
 260136,
 2881577,
 3354672,
 2521141,
 387126,
 473147,
 3582014,
 3399743,
 632896,
 3629127,
 10316,
 2562124,
 3317838,
 2984015,
 3659857,
 3414099,
 176216,
 1874012,
 20577,
 3301477,
 454758,
 383080,
 231528,
 3188843,
 3700843,
 59499,
 3319916,
 2519153,
 399475,
 172149,
 542840,
 2881658,
 3598459,
 678011,
 3694715,
 2525318,
 3381384,
 147,
 2746519,
 3186839,
 209051,
 3766429,
 166046,
 3285152,
 3680421,
 252071,
 2521259,
 557229,
 370862,
 3475635,
 366777,
 3406011,
 3692732,
 260284,
 6334,
 1558722,
 3502277,
 3176649,
 3172553,
 2500811,
 2633932,
 3414219,
 3442891,
 3455182,
 372946,
 3629268,
 598234,
 395483,
 530653,
 2562273,
 3750114,
 45284,
 411876,
 581862,
 2881766,
 2326760,
 2472169,
 524522,
 3639531,
 3502323,
 3449076,
 258293,
 12539,
 346367,
 3248384,
 20745,
 2228490,
 3428618,
 3438859,
 2496782,
 3586321,
 553237,
 3176731,
 186657,
 3146020,
 51492,
 1026343,
 2459944,
 3254574,
 1405233,
 3252530,
 1468729,
 3268921,
 31041,
 2513220,
 10565,
 3662150,
 940366,
 3285327,
 3629390,
 1808722,
 104787,
 2470230,
 3590495,
 26978,
 3400035,
 2486630,
 35175,
 59751,
 196970,
 1182060,
 3629422,
 370,
 3322231,
 383355,
 104830,
 3473790,
 1538432,
 242053,
 3197319,
 1315210,
 3328395,
 3258763,
 3289485,
 3565966,
 2449,
 2529682,
 1556885,
 3496348,
 3283357,
 414114,
 3557796,
 618916,
 399783,
 2906536,
 2548143,
 3676594,
 3428794,
 369087,
 1515967,
 1524162,
 1270214,
 22983,
 47560,
 10698,
 3676620,
 444879,
 2382287,
 37329,
 3473871,
 12756,
 2499030,
 2496983,
 3432920,
 3289559,
 2435546,
 3680731,
 2709980,
 3430877,
 2527711,
 3590626,
 711142,
 442855,
 3299817,
 18922,
 262635,
 256493,
 2456048,
 178680,
 547322,
 219642,
 3582467,
 2519557,
 6662,
 3629576,
 3242514,
 3619352,
 727580,
 3316258,
 209447,
 3455532,
 3551795,
 88627,
 3662388,
 57910,
 2751036,
 569920,
 203339,
 383563,
 3258955,
 10833,
 1610326,
 33367,
 416343,
 2144857,
 3394135,
 2544223,
 3142242,
 2472549,
 3568234,
 1411690,
 3519082,
 27245,
 211566,
 348782,
 2672,
 516721,
 232048,
 3181173,
 64119,
 2450039,
 2550394,
 617089,
 47745,
 3271298,
 2235012,
 219781,
 205449,
 3705481,
 2523789,
 363161,
 1204891,
 2386588,
 3109533,
 21150,
 682655,
 109218,
 1544867,
 174756,
 3388069,
 504488,
 234154,
 74412,
 531116,
 3609260,
 3496623,
 420525,
 3508911,
 443062,
 225977,
 3584699,
 3252933,
 228039,
 3324616,
 23246,
 3402446,
 3562195,
 578263,
 215768,
 2867927,
 3142360,
 3394267,
 1438430,
 197351,
 3144430,
 6895,
 64239,
 3392240,
 537332,
 2525941,
 1673978,
 520955,
 3408636,
 3707644,
 3293950,
 1483516,
 2564863,
 3474174,
 3576572,
 21263,
 1420056,
 236318,
 443169,
 27425,
 4899,
 1542948,
 31525,
 449319,
 3343144,
 1444649,
 2427690,
 1016619,
 2751272,
 404271,
 363319,
 1131322,
 2435899,
 3167038,
 4930,
 207682,
 3517251,
 3545925,
 1823562,
 176971,
 2853710,
 3210065,
 19282,
 2855763,
 764756,
 25431,
 559960,
 3429210,
 3093340,
 594793,
 3674986,
 971627,
 2526058,
 3185516,
 2470770,
 2435954,
 2524018,
 3294066,
 447350,
 82810,
 33658,
 2474876,
 510846,
 365439,
 56195,
 2384771,
 2855811,
 416648,
 2476940,
 912,
 3318673,
 7061,
 2567061,
 2456473,
 525210,
 2864031,
 3421088,
 3603359,
 3290019,
 529319,
 512936,
 394152,
 2493351,
 2544555,
 1596332,
 3496877,
 3355566,
 3576748,
 3324848,
 435122,
 3187636,
 672693,
 3144641,
 2501573,
 3326918,
 203718,
 207818,
 191436,
 64461,
 2509774,
 11215,
 390095,
 410575,
 1924047,
 3283922,
 3435471,
 21461,
 3464142,
 3033,
 515034,
 213980,
 3498973,
 1002463,
 975846,
 2560999,
 576487,
 2544615,
 2472941,
 2474990,
 2466799,
 3392495,
 2405361,
 1229810,
 170995,
 46067,
 359413,
 1188853,
 1641463,
 658424,
 3628025,
 1725425,
 2464759,
 2145276,
 60414,
 2520063,
 3177471,
 3175428,
 2388998,
 3548167,
 2470921,
 2855947,
 568337,
 416793,
 2380832,
 173092,
 396325,
 1565733,
 2565160,
 3472426,
 3392560,
 2462770,
 394292,
 2473015,
 398393,
 2491450,
 818233,
 76860,
 2747454,
 5184,
 1805376,
 3515456,
 3139,
 3630144,
 3558474,
 3605584,
 169040,
 2389077,
 269398,
 3269723,
 425053,
 2499678,
 2565214,
 2856032,
 7268,
 3343462,
 3464296,
 504940,
 3331181,
 3671150,
 3288176,
 3347570,
 3550323,
 1866869,
 2487416,
 1879165,
 3693693,
 3513471,
 543875,
 1424516,
 619657,
 810125,
 3626125,
 2497679,
 1330320,
 175250,
 1805458,
 68757,
 103580,
 2966684,
 3687585,
 560292,
 1821861,
 21670,
 2393252,
 128171,
 165035,
 27822,
 722094,
 1303728,
 418993,
 689328,
 3628217,
 1946812,
 2432188,
 2563262,
 1858751,
 361664,
 617660,
 3347647,
 2473155,
 2053321,
 353482,
 711882,
 2550987,
 3513547,
 2854097,
 507090,
 2989266,
 3495131,
 3392733,
 3605725,
 2856163,
 31982,
 3327218,
 3478771,
 451829,
 54519,
 226552,
 476410,
 3626237,
 1015039,
 345349,
 2282758,
 2618631,
 574725,
 1914121,
 363786,
 3302667,
 3706122,
 810256,
 2430226,
 2503955,
 3681265,
 163097,
 183578,
 240922,
 3419417,
 1901853,
 2456863,
 3147043,
 212262,
 3691815,
 3265832,
 3347753,
 343343,
 3593520,
 34097,
 3194163,
 3286324,
 3454267,
 3693886,
 3458368,
 3628360,
 1617229,
 52564,
 865626,
 3392859,
 1742172,
 185694,
 2813279,
 1846623,
 2565477,
 3511659,
 2952557,
 492912,
 173428,
 3153272,
 3550584,
 1035646,
 810367,
 617857,
 757122,
 437634,
 2528645,
 3472778,
 347532,
 3292556,
 3593614,
 376207,
 1879439,
 652689,
 3370385,
 3667347,
 3497359,
 3321239,
 697753,
 2508189,
 19872,
 28071,
 3245481,
 394666,
 3347883,
 2530736,
 3628465,
 521650,
 2383283,
 3663282,
 46518,
 615868,
 384445,
 54718,
 228799,
 3184063,
 3573186,
 581062,
 1551815,
 3392980,
 3415510,
 2545114,
 357852,
 347614,
 42463,
 3409378,
 2516451,
 3407332,
 691687,
 1873384,
 3565035,
 613873,
 34289,
 2473458,
 3249655,
 5623,
 3534332,
 673276,
 19966,
 2500094,
 912899,
 3589635,
 3454469,
 2379270,
 3628549,
 62989,
 3597839,
 173584,
 574996,
 206357,
 3139096,
 3448345,
 185882,
 982556,
 3347997,
 2039326,
 2491938,
 2201123,
 1019428,
 3356197,
 3622,
 103974,
 368168,
 1164841,
 2389545,
 3620392,
 2854449,
 3415612,
 2182725,
 2866761,
 3677770,
 3509846,
 3393113,
 214620,
 2516584,
 1500777,
 198250,
 3106413,
 28275,
 52852,
 175733,
 253558,
 206456,
 1429114,
 538235,
 2549372,
 2459263,
 2565760,
 42625,
 3294850,
 3194499,
 3704451,
 1316481,
 2487940,
 3249799,
 261768,
 2561674,
 3321484,
 3411596,
 2467474,
 3298963,
 46740,
 2490011,
 3524252,
 3442334,
 491168,
 3458722,
 771752,
 3694250,
 2553515,
 3485354,
 3413681,
 597686,
 153271,
 9912,
 575163,
 1189570,
 2467522,
 1337028,
 173767,
 364234,
 1457867,
 108237,
 360146,
 3505875,
 3147476,
 32471,
 1752,
 368345,
 110298,
 650967,
 20191,
 562911,
 3172065,
 3286751,
 597733,
 3282663,
 3231464,
 210666,
 24299,
 3167978,
 2285293,
 3575533,
 1482482,
 775930,
 104187,
 1707772,
 3356413,
 3438331,
 1810177,
 3362563,
 573191,
 2565895,
 3682058,
 3401483,
 3284749,
 3460878,
 2955027,
 22293,
 2432791,
 2422551,
 370457,
 2725660,
 3518237,
 161565,
 220956,
 608032,
 2545446,
 3385127,
 2451240,
 218925,
 3485495,
 2844474,
 2856763,
 3292987,
 12091,
 522044,
 2379583,
 2737981,
 2838335,
 169794,
 700226,
 3602244,
 3395398,
 628551,
 343881,
 257869,
 3587917,
 1050447,
 2864978,
 22355,
 1312595,
 2389845,
 3172179,
 225114,
 3628892,
 3170141,
 3430239,
 208746,
 1566573,
 1810287,
 3295090,
 2428788,
 2725752,
 1021816,
 1752954,
 243578,
 2346876,
 718718,
 10111,
 282495,
 12161,
 6019,
 2856835,
 579462,
 3495816,
 1884049,
 1091475,
 2367381,
 3594140,
 1337248,
 3553184,
 550817,
 3252131,
 3637157,
 401318,
 2752423,
 34736,
 2451376,
 243639,
 63421,
 364480,
 681921,
 2508739,
 3581891,
 2394053,
 559045,
 305095,
 2387913,
 2430922,
 3295178,
 3299276,
 3635148,
 2518986,
 2521040,
 2428881,
 3399635,
 2449365,
 260054,
 3499991,
 3669978,
 147422,
 3514335,
 3629024,
 3149795,
 3596263,
 438252,
 511986,
 3424252,
 2725886]

In [19]:
df_recent_schools = df2[df2['school_code'].isin(recent_round_schools)]

In [20]:
df_repeating_schools = df_recent_schools.groupby(['subject', 'school_code', 'class']).filter(lambda x : x['papercode'].count() > 3)

In [21]:
df_repeating_schools.sort_values(['subject','school_code','class']).set_index(['subject', 'school_code', 'class'])

                                                     school_name         city  \
subject        school_code class
English        147         3                  Nath Valley School   Aurangabad
                           3                  Nath Valley School   Aurangabad
                           3                  Nath Valley School   Aurangabad
                           3                  Nath Valley School   Aurangabad
                           4                  Nath Valley School   Aurangabad
                           4                  Nath Valley School   Aurangabad
                           4                  Nath Valley School   Aurangabad
                           4                  Nath Valley School   Aurangabad
                           4                  Nath Valley School   Aurangabad
                           4                  Nath Valley School   Aurangabad
                           4                  Nath Valley School   Aurangabad
                           4                  Nath Valley School   Aurangabad
                           4                  Nath Valley School   Aurangabad
                           4                  Nath Valley School   Aurangabad
                           4                  Nath Valley School   Aurangabad
                           4                  Nath Valley School   Aurangabad
                           5                  Nath Valley School   Aurangabad
                           5                  Nath Valley School   Aurangabad
                           5                  Nath Valley School   Aurangabad
                           5                  Nath Valley School   Aurangabad
                           5                  Nath Valley School   Aurangabad
                           5                  Nath Valley School   Aurangabad
                           5                  Nath Valley School   Aurangabad
                           5                  Nath Valley School   Aurangabad
                           6                  Nath Valley School   Aurangabad
                           6                  Nath Valley School   Aurangabad
                           6                  Nath Valley School   Aurangabad
                           6                  Nath Valley School   Aurangabad
                           6                  Nath Valley School   Aurangabad
                           6                  Nath Valley School   Aurangabad
...                                                          ...          ...
Social Studies 3109533     5                        Vibgyor High  Navi Mumbai
                           5                        Vibgyor High  Navi Mumbai
               3147476     5      Sri Kumaran Children^s Academy    Bangalore
                           5      Sri Kumaran Children^s Academy    Bangalore
                           5      Sri Kumaran Children^s Academy    Bangalore
                           5      Sri Kumaran Children^s Academy    Bangalore
                           5      Sri Kumaran Children^s Academy    Bangalore
                           6      Sri Kumaran Children^s Academy    Bangalore
                           6      Sri Kumaran Children^s Academy    Bangalore
                           6      Sri Kumaran Children^s Academy    Bangalore
                           6      Sri Kumaran Children^s Academy    Bangalore
                           6      Sri Kumaran Children^s Academy    Bangalore
                           7      Sri Kumaran Children^s Academy    Bangalore
                           7      Sri Kumaran Children^s Academy    Bangalore
                           7      Sri Kumaran Children^s Academy    Bangalore
                           7      Sri Kumaran Children^s Academy    Bangalore
                           7      Sri Kumaran Children^s Academy    Bangalore
                           8      Sri Kumaran Children^s Academy    Bangalore
                           8      Sri Kumaran Children^s Academy    Bangalore
                           8      Sri Kumaran Children^s Academy    Bangalore
                           8      Sri Kumaran Children^s Academy    Bangalore
                           8      Sri Kumaran Children^s Academy    Bangalore
               3265832     5                 Gedee Public School   Coimbatore
                           5                 Gedee Public School   Coimbatore
                           5                 Gedee Public School   Coimbatore
                           5                 Gedee Public School   Coimbatore
                           8                 Gedee Public School   Coimbatore
                           8                 Gedee Public School   Coimbatore
                           8                 Gedee Public School   Coimbatore
                           8                 Gedee Public School   Coimbatore

                                 pincode        state country  season  year  \
subject        school_code class
English        147         3      431002  Maharashtra   India  Summer  2007
                           3      431002  Maharashtra   India  Summer  2008
                           3      431002  Maharashtra   India  Summer  2009
                           3      431002  Maharashtra   India  Summer  2010
                           4      431002  Maharashtra   India  Summer  2003
                           4      431002  Maharashtra   India  Summer  2004
                           4      431002  Maharashtra   India  Summer  2007
                           4      431002  Maharashtra   India  Summer  2008
                           4      431002  Maharashtra   India  Summer  2009
                           4      431002  Maharashtra   India  Summer  2010
                           4      431002  Maharashtra   India  Summer  2013
                           4      431002  Maharashtra   India  Summer  2014
                           4      431002  Maharashtra   India  Summer  2015
                           4      431002  Maharashtra   India  Summer  2016
                           4      431002  Maharashtra   India  Summer  2017
                           4      431002  Maharashtra   India  Summer  2018
                           5      431002  Maharashtra   India  Summer  2001
                           5      431002  Maharashtra   India  Summer  2003
                           5      431002  Maharashtra   India  Summer  2004
                           5      431002  Maharashtra   India  Summer  2006
                           5      431002  Maharashtra   India  Summer  2007
                           5      431002  Maharashtra   India  Summer  2008
                           5      431002  Maharashtra   India  Summer  2009
                           5      431002  Maharashtra   India  Summer  2010
                           6      431002  Maharashtra   India  Summer  2001
                           6      431002  Maharashtra   India  Summer  2003
                           6      431002  Maharashtra   India  Summer  2004
                           6      431002  Maharashtra   India  Summer  2005
                           6      431002  Maharashtra   India  Summer  2007
                           6      431002  Maharashtra   India  Summer  2008
...                                  ...          ...     ...     ...   ...
Social Studies 3109533     5      400708  Maharashtra   India  Summer  2017
                           5      400708  Maharashtra   India  Summer  2018
               3147476     5      560062    Karnataka   India  Summer  2014
                           5      560062    Karnataka   India  Summer  2015
                           5      560062    Karnataka   India  Summer  2016
                           5      560062    Karnataka   India  Summer  2017
                           5      560062    Karnataka   India  Summer  2018
                           6      560062    Karnataka   India  Summer  2014
                           6      560062    Karnataka   India  Summer  2015
                           6      560062    Karnataka   India  Summer  2016
                           6      560062    Karnataka   India  Summer  2017
                           6      560062    Karnataka   India  Summer  2018
                           7      560062    Karnataka   India  Summer  2014
                           7      560062    Karnataka   India  Summer  2015
                           7      560062    Karnataka   India  Summer  2016
                           7      560062    Karnataka   India  Summer  2017
                           7      560062    Karnataka   India  Summer  2018
                           8      560062    Karnataka   India  Summer  2014
                           8      560062    Karnataka   India  Summer  2015
                           8      560062    Karnataka   India  Summer  2016
                           8      560062    Karnataka   India  Summer  2017
                           8      560062    Karnataka   India  Summer  2018
               3265832     5      641021   Tamil Nadu   India  Winter  2018
                           5      641021   Tamil Nadu   India  Winter  2015
                           5      641021   Tamil Nadu   India  Winter  2016
                           5      641021   Tamil Nadu   India  Winter  2017
                           8      641021   Tamil Nadu   India  Winter  2018
                           8      641021   Tamil Nadu   India  Winter  2015
                           8      641021   Tamil Nadu   India  Winter  2016
                           8      641021   Tamil Nadu   India  Winter  2017

                                  studentCount papercode  \
subject        school_code class
English        147         3                77       13D
                           3                80       13F
                           3                79       13H
                           3                79       13J
                           4                11       145
                           4                42       147
                           4                80       14D
                           4                80       14F
                           4                80       14H
                           4                81       14J
                           4                79       14P
                           4                80       14R
                           4               107       14T
                           4               107       14V
                           4               108       14X
                           4               106       14Z
                           5                25       151
                           5                 9       155
                           5                33       157
                           5                74       15B
                           5                76       15D
                           5               102       15F
                           5               102       15H
                           5                93       15J
                           6                23       161
                           6                30       165
                           6                30       167
                           6                32       169
                           6                74       16D
                           6                77       16F
...                                        ...       ...
Social Studies 3109533     5                 2       45X
                           5                 4       45Z
               3147476     5                51       45R
                           5                76       45T
                           5                80       45V
                           5               118       45X
                           5               117       45Z
                           6                37       46R
                           6                68       46T
                           6                79       46V
                           6                80       46X
                           6               113       46Z
                           7                30       47R
                           7                38       47T
                           7                68       47V
                           7                76       47X
                           7                77       47Z
                           8                23       48R
                           8                44       48T
                           8                39       48V
                           8                66       48X
                           8                74       48Z
               3265832     5                 3       45#
                           5                 2       45U
                           5                 2       45W
                           5                 5       45Y
                           8                 1       48#
                           8                 6       48U
                           8                 1       48W
                           8                 1       48Y

                                                        skill_name  \
subject        school_code class
English        147         3                 Vocabulary in Context
                           3                 Vocabulary in Context
                           3                 Vocabulary in Context
                           3                 Vocabulary in Context
                           4                 Vocabulary in Context
                           4                 Vocabulary in Context
                           4                 Vocabulary in Context
                           4                 Vocabulary in Context
                           4                 Vocabulary in Context
                           4                 Vocabulary in Context
                           4                 Vocabulary in Context
                           4                 Vocabulary in Context
                           4                 Vocabulary in Context
                           4                 Vocabulary in Context
                           4                 Vocabulary in Context
                           4                 Vocabulary in Context
                           5                 Vocabulary in Context
                           5                 Vocabulary in Context
                           5                 Vocabulary in Context
                           5                 Vocabulary in Context
                           5                 Vocabulary in Context
                           5                 Vocabulary in Context
                           5                 Vocabulary in Context
                           5                 Vocabulary in Context
                           6                 Vocabulary in Context
                           6                 Vocabulary in Context
                           6                 Vocabulary in Context
                           6                 Vocabulary in Context
                           6                 Vocabulary in Context
                           6                 Vocabulary in Context
...                                                            ...
Social Studies 3109533     5      Historical literacy and thinking
                           5      Historical literacy and thinking
               3147476     5      Historical literacy and thinking
                           5      Historical literacy and thinking
                           5      Historical literacy and thinking
                           5      Historical literacy and thinking
                           5      Historical literacy and thinking
                           6      Historical literacy and thinking
                           6      Historical literacy and thinking
                           6      Historical literacy and thinking
                           6      Historical literacy and thinking
                           6      Historical literacy and thinking
                           7      Historical literacy and thinking
                           7      Historical literacy and thinking
                           7      Historical literacy and thinking
                           7      Historical literacy and thinking
                           7      Historical literacy and thinking
                           8      Historical literacy and thinking
                           8      Historical literacy and thinking
                           8      Historical literacy and thinking
                           8      Historical literacy and thinking
                           8      Historical literacy and thinking
               3265832     5      Historical literacy and thinking
                           5      Historical literacy and thinking
                           5      Historical literacy and thinking
                           5      Historical literacy and thinking
                           8      Historical literacy and thinking
                           8      Historical literacy and thinking
                           8      Historical literacy and thinking
                           8      Historical literacy and thinking

                                     ...      totalAccuracy  \
subject        school_code class     ...
English        147         3         ...              76.44
                           3         ...              63.25
                           3         ...              71.03
                           3         ...              64.59
                           4         ...              60.00
                           4         ...              62.43
                           4         ...              66.55
                           4         ...              63.08
                           4         ...              61.72
                           4         ...              65.11
                           4         ...              72.68
                           4         ...              50.88
                           4         ...              48.60
                           4         ...              48.58
                           4         ...              50.80
                           4         ...              59.02
                           5         ...              74.16
                           5         ...              57.56
                           5         ...              50.67
                           5         ...              57.03
                           5         ...              68.50
                           5         ...              63.55
                           5         ...              61.27
                           5         ...              68.88
                           6         ...              61.23
                           6         ...              60.06
                           6         ...              53.00
                           6         ...              55.26
                           6         ...              55.99
                           6         ...              58.20
...                                  ...                ...
Social Studies 3109533     5         ...              65.71
                           5         ...              65.71
               3147476     5         ...              56.36
                           5         ...              46.32
                           5         ...              50.50
                           5         ...              60.41
                           5         ...              60.71
                           6         ...              58.38
                           6         ...              57.35
                           6         ...              52.66

In [22]:
df_repeating_schools

Int64Index([      9,      20,      60,      69,      79,     113,     123,
                153,     160,     181,
            ...
            2201319, 2201327, 2201337, 2201347, 2201373, 2201381, 2201389,
            2201398, 2201408, 2201418],
           dtype='int64', length=78254)

----

In [5]:
file_path = '../../../Desktop/EI/From others/Dipak/Parent Connect/data2'
df_temp = pd.read_csv(file_path+'/final_asset_school_accuracy.csv')

/Users/manghat/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2234391 entries, 0 to 2234390
Data columns (total 24 columns):
school_code                       int64
school_name                       object
city                              object
pincode                           float64
state                             object
country                           object
season                            object
year                              int64
class                             int64
studentCount                      int64
subject                           object
papercode                         object
skill_name                        object
sub_skill_name                    object
subSkillLevelAccuracy             float64
subSkillLevelQuestionCount        int64
skillLevelAccuracy                float64
skillLevelQuestionCount           int64
totalAccuracy                     float64
totalQuestionCount                int64
national_studentCount             float64
national_subSkillLevelAccuracy    float64
national_skillLevelAccuracy       float64
national_totalAccuracy            float64
dtypes: float64(8), int64(7), object(9)
memory usage: 409.1+ MB

In [7]:
df_temp.head()

,school_code,school_name,city,pincode,state,country,season,year,class,studentCount,...,subSkillLevelAccuracy,subSkillLevelQuestionCount,skillLevelAccuracy,skillLevelQuestionCount,totalAccuracy,totalQuestionCount,national_studentCount,national_subSkillLevelAccuracy,national_skillLevelAccuracy,national_totalAccuracy
0,10251,Sri Aurobindo International School,Hyderabad,500044.0,Andhra Pradesh,India,Summer,2001,4,39,...,49.23,5,44.02,12,48.51,50,434.0,49.40,43.82,54.08
1,10251,Sri Aurobindo International School,Hyderabad,500044.0,Andhra Pradesh,India,Summer,2001,4,39,...,40.29,7,44.02,12,48.51,50,434.0,39.83,43.82,54.08
2,10251,Sri Aurobindo International School,Hyderabad,500044.0,Andhra Pradesh,India,Summer,2001,4,39,...,63.25,6,46.15,12,48.51,50,434.0,58.37,46.27,54.08
3,10251,Sri Aurobindo International School,Hyderabad,500044.0,Andhra Pradesh,India,Summer,2001,4,39,...,35.04,3,46.15,12,48.51,50,434.0,45.08,46.27,54.08
4,10251,Sri Aurobindo International School,Hyderabad,500044.0,Andhra Pradesh,India,Summer,2001,4,39,...,23.08,3,46.15,12,48.51,50,434.0,23.27,46.27,54.08